
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>

        <!-- author Mary Grace Aquino -->

        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- IE Compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Search Engine Opt -->
        <meta name="keywords" content="highschool, tutor, english, edmonton, university of alberta, creative, teenager, student">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
        <title>Phoenix Tutoring and Learning</title>

        <!--Google Fonts-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

        <!--read more-->

	       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!--CSS Link-->
        <!-- Fontawesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Fancybox -->
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <!-- owl carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <!-- Animate -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
        <!-- Main Responsive -->
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="css/about.css">


        <script type="text/javascript"
           src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.4.min.js">
           </script>
           <script type="text/javascript"
           src="http://plugins.learningjquery.com/expander/jquery.expander.js">
           </script>
           <script type="text/javascript">
               $(function () {
                   $('div.readmore').expander({
                       slicePoint: 200,
                       expandText: 'Click Here to Read More',
                       userCollapseText: 'Hide Text'
                   });
               });
           </script>

    </head>

    <body>

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <h1 class="navbar-brand">
                        <a href="#body">
                            <img src="img/logo4.png" alt="Logo" width="30%" height="30%">
                        </a>
                    </h1>
                    <!-- /logo -->

                    </div>

                    <!-- main nav -->
                    <nav class="collapse navigation navbar-collapse navbar-right" role="navigation">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="current"><a href="#home" style="color:black">Home</a></li>
                            <li><a href="#service" style="color:black">Service</a></li>
                            <li><a href="#about-us" style="color:black">Student Testimonials</a></li>
                            <li><a href="#about" style="color:black">About Me</a></li>
                          <li><a href="#faq" style="color:black">FAQ</a></li>
                            <li><a href="#contact" style="color:black">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- /main nav -->
                </div>

            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->


        <!--
        Home Slider
        ==================================== -->
        <section id="home">
            <div id="home-carousel" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#home-carousel" data-slide-to="1"></li>
                    <li data-target="#home-carousel" data-slide-to="2"></li>
                </ol>
                <!--/.carousel-indicators-->

                <div class="carousel-inner">

                    <div class="item active"  style="background-image: url('img/slider/bg1.jpg')" >
                        <div class="carousel-caption">
                            <div class="animated bounceInRight">
                                <h2>WELCOME TO Phoenix Tutoring and Learning <br></h2>
                                <p class="para">Schedule a Tutoring Session today!Call Now: 780-756-8781</p>
                            </div>
                        </div>
                    </div>

                    <div class="item" style="background-image: url('img/slider/bg2.jpg')">
                        <div class="carousel-caption">
                            <div class="animated bounceInDown">
                                <h2>WELCOME TO Phoenix Tutoring and Learning <br></h2>
                                <p>Our students have gone on to great success at major Canadian and international universities. Give your child the tools to reach new academic heights with Phoenix.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item" style="background-image: url('img/slider/bg3.jpg')">
                         <div class="carousel-caption">
                            <div class="animated bounceInUp">
                                <h2>WELCOME TO Phoenix Tutoring and Learning <br></h2>
                                <p>Head of the Class specializes in English Language Arts, Social Studies, and the Humanities.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.carousel-inner-->
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a class="sl-next" href="#home-carousel" data-slide="next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>

            </div>
        </section>
        <!--
        End #home Slider
        ========================== -->


        <!--
        #service
        ========================== -->
        <section id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center wow fadeInDown">
                            <h2>Services</h2>
                            <p>Phoenix Tutoring and Learning offers a variety of classes that can help you unlock your academic potential!</p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-12 wow fadeInLeft">
                        <div class="media">
                            <a class="pull-left">
                                <img src="img/icons/english.jpg" class="media-object" alt="Monitor" data-toggle="modal" data-target="#myModal">
                            </a>
                            <div class="media-body">
                                <h3>English Language Arts</h3>
                                <p>• Writing skills                          • Literary Analysis

                                  • Grammar                                  • Reading Comprehension

                                  • Vocabulary                  	           • Appreciation for literature

                                  • Critical Reading                         • Diploma preparation

                                  • Shakespeare</p>

                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">English Language Arts</h4>
                          </div>
                          <div class="modal-body">
                            <h5><strong> Poetry (8 weeks) </strong></h5>
                            <br/ >
                            <p>Week 1: Introduction to poetry <br />
                            Week 2: Literary Devices <br />
                            Week 2: Style and Form (sonnets, haiku, lyric, etc) <br />
                            Week 3: Decoding Meaning, Mood, and Theme <br />
                            Week 4: Reading poetry/Introduction to the Classics Part I <br />
                            Week 5: Introduction to the Classics Part II <br />
                            Week 6: Shakespeare’s Sonnets <br />
                            Week 7: Critique and Analysis <br />
                            Week 8: Final Presentations </p> <br />


                          <h5> Shakespeare (10 Weeks)  </h5>
                          <br/ >
                          <p> We will complete a study of TWO of Shakespeare’s tragedies (Hamlet, Julius Caesar,
                          Macbeth, Othello, Romeo and Juliet, or Titus Andronicus) </p>
                          <br/ >
                          <p>Week 1: Introduction to Shakespeare and his legacy  <br />
                          <p>Week 2: The Shakespearean Theatre and Elizabethan Drama/Tragedy I  <br />
                          <p>Week 3: Introduction to the form of tragedy/Tragedy 1   <br />
                          <p>Week 5: The importance of stage directions/soliloquy/ Tragedy 1  <br />
                          <p>Week 6: Characteristics of Shakespearean Tragedy/ Tragedy 2  <br />
                          <p>Week 7: The Flawed Hero/Tragedy 2  <br />
                          <p>Week 8: How to Write About Shakespeare/Tragedy 2  <br />
                          <p>Week 9: Essay Planning  <br />
                          <p>Week 10: Final Presentations </p>  <br />

                          <h5>Fiction/Novels (12 weeks)  </h5>
                          <br/ >
                          <p> We will complete a study of two novels: one classic and one modern. Novels will be chosen
                                from the Alberta provincial curriculum for the appropriate grade levels of the students attending.   </p>
                          <p>We will also compete numerous short stories.  </p> <br/ >
                          <p>Week 1: Introduction to Classic Fiction   </p>
                          Week 2: Understanding Literary Devices/Novel I <br />
                          Week 3: The Importance of Contextualization/Novel I <br />
                          Week 4: The History of the Novel/Novel I <br />
                          Week 5: Character Sketching/Novel I  <br />
                          Week 6: Novel I final discussion <br />
                          Week 6: Introduction to Modern Fiction/Novel 2 <br />
                          Week 7: Writing a Book Report/Novel 2 <br />
                          Week 8: Literary Critique/Novel 2   <br />
                          Week 9: Comparing and Contrasting/Novel 2  <br />
                          Week 10: Preparing an analytical essay Part I  <br />
                          Week 11: Preparing an analytical essay Part II  <br />
                          Week 12: Final presentations   </p> <br/ >

                         <h5>  Writing Improvement (14 weeks) </h5>
                         <br/ >
                         <p> In this class, we will learn how to write analytically and critically. We will write numerous critical
                          pieces and will learn how to complete an essay from brainstorming to final edit. </p> <br/ >
                          <p>Week 1: Introduction <br/ >
                          Week 2: What is Critical writing? <br/ >
                          Week 3: How to choose a topic <br/ >
                          Week 4: Choosing and Using Evidence/Research tools <br/ >
                          Week 5: Writing an Introduction <br/ >
                          Week 6: Body Paragraphs <br/ >
                          Week 7: Writing a Conclusion <br/ >
                          Week 8: Using Transitions <br/ >
                          Week 9: Drafting an Outline Part I <br/ >
                          Week 10: Drafting an Outline Part II <br/ >
                          Week 11: The importance of Editing <br/ >
                          Week 12: Citations and References <br/ >
                          Week 13: Final Drafting <br/ >
                          Week 14: Final Presentations </p> <br/ >

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="media">
                            <a class="pull-left">
                                <img src="img/icons/essay.jpg" alt="Cog" data-toggle="modal" data-target="#myModal1">
                            </a>
                            <div class="media-body">
                              <h3>Essay Support</h3>
                              <p>We are able to help develop an admissions essay that will amaze.
                                Please contact us see how we can help you demonstrate your best to prospective colleges and universities.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                      <div class="modal-content">
                      <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Essay Support</h4>
                </div>
                      <div class="modal-body">
                        <p>We are able to help you turn your ideas into academic masterpieces that will have you smiling
                            with pride. From brainstorming to final editing, we can guide you through the process of essay
                            writing. </p> <br />
                          <p> Please note that we do not provide an essay writing service and under no circumstance
                            will we complete coursework for a student. </p> <br />
                          <p>  Contact us today to book your essay consultation!  </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="col-md-6 col-sm-12 wow fadeInLeft">
                        <div class="media">
                          <a class="pull-left">
                            <img src="img/icons/social1.png" class="media-object" alt="Monitor" data-toggle="modal" data-target="#myModal2">
                          </a>
                            <div class="media-body">
                                <h3>Social Studies</h3>

                                      <p>• Canadian History			• World History

                          								• Social 20 and 30 (all levels)

                          								• Contextualization

                          									• Analysis

                          									• Critical thinking

                          									• Diploma preparation </p>

                    </div>
                  </div>
               </div>
                <!-- Modal -->
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Social Studies</h4>
            </div>
                  <div class="modal-body">
                    <p> Contact us for both individual and group rates for tutoring  <b> Social 20-1, 20-2, 30-1 and 30-2.</b> </p><br/>
                      <p> Our services include <u> essay preparation, research, explanation and elaboration of material covered in
                          class, general writing enhancement, and contextualization/analysis help.</u> </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
              <div class="media">
              <a class="pull-left">
                  <img src="img/icons/one.png" alt="Cog" data-toggle="modal" data-target="#myModal3">
                  </a>
                      <div class="media-body">
                          <h3>One to One Services</h3>
                            <p>One on One tutoring: At Phoenix Tutoring, we understand that everyone learns differently and at their own pace.</p>
                </div>
            </div>
        </div>

        <!-- Modal -->
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">One to One Services</h4>
    </div>
          <div class="modal-body">
            <p> That is why we offer intensive one on one tutoring in both 60 and 90 minute sessions.
              We can provide homework assistance, develop a specialized learning program,
              and work with you to grow existing competencies. </p> <br />
            <p>  Call us today to book your free consultation! </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>


      <div class="col-md-6 col-sm-12 wow fadeInLeft">
        <div class="media">
            <a class="pull-left">
              <img src="img/icons/resume1.png" alt="Ruler">
            </a>
              <div class="media-body">
                  <h3>Letter Writing/Resume Assistance</h3>
                    <p>We can help polish your resume so that it sparkles to prospective employers.
                       We can also help with letter writing for immigration, legal, and financial purposes.</p>
              </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
            <div class="media">
                <a class="pull-left">
                    <img src="img/icons/a+.jpg" alt="Camera">
                </a>
              <div class="media-body">
                  <h3>ESL/IELTS</h3>
                  <p>Need to practice your English in preparation for the IELTS exam?
                    Come on by! We offer indivualized and group classes with a native English speaker that will help you practice your
                    English and feel comfortable speaking to English speakers.</p>
            </div>
        </div>

                </div> <!-- end .row -->
            </div> <!-- end .container -->
        </section>
        <!--
        End #service
        ========================== -->
        <!--
        #quotes
        ========================== -->
        <section id="quotes">
            <div class="container">
                <div class="row wow zoomIn">
                    <div class="col-lg-12">
                        <div class="call-to-action text-center">
                            <p class="contacts"> Learning is finding out what we already know. Doing is demonstrating that you know it. Teaching is reminding others that they know just as well as you. You are all learners, doers, and teachers.</p>
                            <span>by Richard Bach</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        End #quotes
        ========================== -->


    		<!-- this section is for FAQ -->
          <section id="faq">
              <div class="container">
        						<div class="space"></div>
        						<h2>Frequently Asked Questions</h2>
        						<div class="row">
        							<div class="col-md-6">
        								<p>Who is Dr. Krista Li?</p>
        									<ul class="list-unstyled">
        								</ul>
        								<p>Krista holds a Ph.D in History from the University of New Brunswick.
                          She has taught at various Canadian universities, including the University of Alberta, Grant MacEwan University and the University of New Brunswick.
                           Her undergraudate work featured a minor in English Literature focusing on Shakesperian drama. She has been tutoring privately since 2009.
                           Fluent in English and Mandarin Chinese, Krista drives her students to reach their true potential.</p>
        							</div>
        							<div class="col-md-6">
        								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        									<div class="panel panel-default">
        										<div class="panel-heading" role="tab" id="headingOne">
        											<h4 class="panel-title">
        												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        													What can I get help with?
        												</a>
        											</h4>
        										</div>
        										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        											<div class="panel-body">
        												At Phoenix, we specialize in humanities tutoring. We offer sessions in English Language Arts,
                                 Social Studies, the fundamentals of writing, how to conduct research,
                                 and essay support for both high school and university level classes.
                                 We also offer support for those wishing to improve their English abilities through conversation and those looking to prepare for the IELTS exam.
        												</div>
        										</div>
        									</div>

        									<div class="panel panel-default">
        										<div class="panel-heading" role="tab" id="headingTwo">
        											<h4 class="panel-title">
        												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        													How do I get a tutor?
        												</a>
        											</h4>
        										</div>
        										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        											<div class="panel-body">
        												Call us at 780-756-8781 or email at to set up an appointment. We will be happy to work with you to find a time to book a consultation.
        											</div>
        										</div>
        									</div>


        									<div class="panel panel-default">
        										<div class="panel-heading" role="tab" id="headingThree">
        											<h4 class="panel-title">
        												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        													Can I work with the same tutor again?
        												</a>
        											</h4>
        										</div>
        										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        											<div class="panel-body">
        												Yes! All sessions are taught by Dr. Krista Li.
                                 Working with the same tutor allows you to establish a raport and allows
                                 Krista to get to know your specific abilities and learning style.
                                 This makes for a customized and personalized experience that you will not find elsewhere.
        											</div>
        										</div>
        									</div>

        									<div class="panel panel-default">
        										<div class="panel-heading" role="tab" id="headingFour">
        											<h4 class="panel-title">
        												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        													Will you come to my home to tutor?
        													</a>
        											</h4>
        										</div>
        										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        											<div class="panel-body">
        												Unfotunately not. All classes take place at Krista's home classroom, where she can easily access resources and material.
        											</div>
        										</div>
        									</div>

        									<div class="panel panel-default">
        										<div class="panel-heading" role="tab" id="headingFive">
        											<h4 class="panel-title">
        												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        													What's the minimum time to work with a tutor?
        												</a>
        											</h4>
        										</div>
        										<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        											<div class="panel-body">
        												Sessions are a minimum of one hour. That gives you time to discuss the issues at hand, complete exercises,
                                 and go over work that will be assigned for the next session or evaluate work completed from the last session.
        											</div>
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>
              </div>
        			</div>
        		</div>
        	</section>
        		<!-- section end -->
        <!--========================== -->


        <!--
        #about
        ========================== -->
        <!-- section start -->

        <section id="about" >
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="title text-center">About Me<span></span></h1>
                <p class="lead text-center"><b>Krista L. Li </b></p>
                <div class="space"></div>
                <div class="row">
                  <div class="col-md-6">
                    <img src="img/about2.png" alt="">
                    <div class="space"></div>
                  </div>
                  <div class="col-md-6">
                    <p>Krista Li holds a Ph.D in History from the University of New Brunswick. Her undergraduate
                      degree, along with her Master of Arts, was completed at Memorial University of Newfoundland. </p><br />
                    <p>She completed a minor in English Literature, with an emphasis in Shakespearean tragedy.
                        Since 2009, Krista has worked as an instructor at the Department of History and Classics at the
                          University of Alberta, teaching topics in post-Confederation Canadian and modern Chinese
                    history.  </p> <br/>
                    <p>  She has also taught at the University of New Brunswick and Grant MacEwan University.
                    Although she is a native speaker of English, Krista also speaks Mandarin Chinese fluently and
                    has a love of Chinese culture and history. She is a highly sought after private tutor and knows
                    what it takes to unlock the potential of each child that she works with. She has been tutoring in
                    Edmonton since 2009. In her spare time, she enjoys Chinese traditional dance, reading, and
                    embarking on new adventures! </p>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </section>
<!--
        End #about
        ========================== -->


        <!--
        #count
        ========================== -->

        <section id="count">
            <div class="container">
                <div class="row">
                    <div class="counter-section clearfix">
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.5s">
                            <div class="fact-item text-center">
                                <div class="fact-icon">
                                    <i class="fa fa-mortar-board fa-lg"></i>
                                </div>
                                <span data-to="6">0</span>
                                <p>Subjects Taught</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.8s">
                            <div class="fact-item text-center">
                                <div class="fact-icon">
                                    <i class="fa fa-users fa-lg"></i>
                                </div>
                                <span data-to="4.3">0</span>
                                <p>Rate my Prof.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="1.1s">
                            <div class="fact-item text-center last">
                                <div class="fact-icon">
                                    <i class="fa fa-clock-o fa-lg"></i>
                                </div>
                                <span data-to="120">0</span>
                                <p>Hours Lectured</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="1.3s">
                            <div class="fact-item text-center last">
                                <div class="fact-icon">
                                    <i class="fa fa-trophy fa-lg"></i>
                                </div>
                                <span data-to="100">0</span>
                                <p>Client Approval (%)</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--
        End #count
        ========================== -->

        <!--
        #about-us
        ========================== -->
        <section id="about-us">
            <div class="container">
              <div class ="row">
                      <div class="subtitle text-center">
                            <h3>Testimonials</h3>
                        </div>

                        <div id="testimonial">

                          <div class ="row">
                              <div class="col-sm-5">
                              <div class="tst-item clearfix">
                                  <div class="tst-single clearfix">
                                      <img src="img/client/1a.png" alt="Client" class="img-circle">
                                      <div class="tst-content">
                                          <p>“While knoweldge of their respected disiplines is very important,
                                             another fundamental aspect of a good teacher is a passion and a love for teaching.
                                             Krista Li has all of these requirements and that is what makes her such an excellent teacher.
                                             Personally, I went from struggling in Language Arts to become an 80+ student after a semester with her.
                                             Sessions with Krista are engaging, interesting and as long as the student is willing to put in the effort,
                                              he or she can definetely expect to see great results”</p>
                                          <span>— George, Edmonton</span>
                                      </div>
                                  </div>
                                </div>
                              </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                  <div class="tst-single clearfix">
                                      <img src="img/client/1a.png" alt="Client" class="img-circle">
                                      <div class="tst-content">
                                        <p>“Krista Li 是一位优秀的英文教师。她有丰富的教学经验，要求严格，并且因才施教。我的两个孩子都是Krista的学生。
                                          大儿子明明今年被美国常青藤之一的宾夕法尼亚州大学（University of Pennsylvania ）提前录取，明明的英语成绩优秀是关键因素。
                                          正是Krista几年来的悉心辅导，明明的英语写作和阅读水平才得到了很大地提高，以至于他在SAT考试中写作和阅读都得到了满分。小儿子学学上五年级，
                                          以前最不喜欢的就是写作和阅读， Krista将趣味融入了她的课程，经过几年辅导，学学现在对阅读非常感兴趣。学学的老师说，
                                          他现在的阅读已经到达初中七年级以上的水平。我们全家非常感谢Krista的辅导帮助， 她的课程很实用，很有效，也很受益。Krista是最好的英文老师！.”</p>
                                        <span>Li, Caifornia</span>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <div class ="row">
                              <div class="col-sm-5">
                              <div class="tst-item">
                                <div class="tst-single clearfix">
                                    <img src="img/client/1a.png" alt="Client" class="img-circle">
                                    <div class="tst-content">
                                      <p>“I love Krista. She really helped me a lot with my essay writing.
                                        As an international student, it was so hard to write an essay that was as good as my local-born classmates
                                         but Krista helped me correct all of my grammaer mistakes and helped me find the best references possible.
                                          She was so knowlegable! I truly recommend students who need a tutor for essay support to choose her.
                                           If you are an international student, Krista makes you feel like one of her family members!”</p>
                                      <span>— YingXuan, Inner Mongolia</span>
                                    </div>
                                </div>
                              </div>
                            </div>
                              <div class="col-sm-5 col-sm-offset-1">
                                <div class="tst-single clearfix">
                                    <img src="img/client/1a.png" alt="Client" class="img-circle">
                                    <div class="tst-content">
                                      <p>“三年前我曾经选修过李老师的“中国人在加拿大”历史课。她独特的教学方式让我对那节课的内容记忆犹新。她并不像其他老师一样要求我们买很贵的教科书，
                                        而是让我们读了一本很有意思的小说，让我们能够以更加生动有趣的方式理解知识点。李老师不仅学识渊博，而且在辅导学生方面有丰富的经验。
                                        我和我的朋友都在论文写作方面接受过她的辅导。如果你在某节课上感到吃力，但是愿意努力提高，李老师会尽她所能帮助你达到理想的成绩。我强烈推荐她的辅导服务！.”</p>
                                      <span>— Tina, Vancouver</span>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class ="row">
                            <div class="col-sm-5">
                            <div class="tst-item">
                                <div class="tst-single clearfix">
                                    <img src="img/client/1a.png" alt="Client" class="img-circle">
                                    <div class="tst-content">
                                        <p>I first started working with Krista when I was working through my ESL classes at the University of Alberta.
                                           I needed someone to help me improve my spoken English. Krista was amazing. She was so fun to work with and she never made me
                                           feel embrassed over my mistakes. I saw her throughout my degree program, and when I graduated, she even came to my ceremony.
                                            She really taught me to believe in myself and to reach for my goals. She is 100% devoted to her students and she makes you feel
                                            like you are the most important student in the world.”</p>
                                        <span>— Jenny, Beijing</span>
                                    </div>
                                </div>
                              </div>
                            </div>
                              <div class="col-sm-5 col-sm-offset-1">
                                <div class="tst-single clearfix">
                                    <img src="img/client/1a.png" alt="Client" class="img-circle">
                                    <div class="tst-content">
                                        <p>“Krista 是一位土生土長的加拿大人，卻能說流利的普通話，
                                          她擁有 U of A 歷史博士學位，又酷愛文學。我央求她指導我女兒Social Study和Language Art。她擅長於統合歸納解說學校Social Study課本裡冗長的文字，
                                          幫助女兒理解重點，又以她豐富的文學背景引導女兒如何閱讀理解文學作品以及如何按照課程要求進行寫作。她專業的學識和熱心的教導對一移民來此的女兒幫助很大，
                                          我們都很感激她.”</p>
                                        <span>— Paula, Edmonton</span>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class="col-sm-5">
                            <div class="tst-item">
                                <div class="tst-single clearfix">
                                    <img src="img/client/1a.png" alt="Client" class="img-circle">
                                    <div class="tst-content">
                                      <p>“Krista did wonders for our son, John. He struggled with Social Studies and was not making sense of what his teacher was teaching
                                         Krista was able to deliver the material to him in a way that both piqued his interest and that encouraged him to go out and learn more on his own.
                                         For the first time ever, my son asked to go to the book store to buy books about what he was learning.
                                         When it came to Language Arts, Krista challenged John and pushed him to succeed.
                                         I never thought I would see the day when my son would walk around the house and quote Shakespeare, but with Krista, it happened!”</p>
                                      <span>— Cathy, Vancouver</span>
                                    </div>
                                </div>
                              </div>

                            </div>
                        </div> <!-- end #testimonial -->
                    </div> <!-- end .col-md-5 -->


        </section>
        <!--
        End #about-us
        ========================== -->


        <!--
        #pricing
        ========================== -->

        <!--
        End #pricing
        ========================== -->


        <!--
        #footer
        ========================== -->
        <div class="footer section">
  				<div class="container">
  					<h1 class="title text-center" id="contact">Contact Me</h1>
  					<div class="space"></div>
  					<div class="row">

  						<div class="col-sm-6">
  							<div class="footer-content">
  							<div class="widget-content">

  								<p class="contacts">​Schedule a Tutoring Session today!</p><br/>

  								<p class="contacts"><i class="fa fa-map-marker"></i> 1612 Hodgson Ct NW, Edmonton, AB </p>

  								<p class="contacts"><i class="fa fa-phone"></i> (780)-756-8781</p>

  								<p class="contacts"><i class="fa fa-envelope"></i> kristalixy@gmail.com</p>

  							</div>

  						</aside>
  								<ul class="social-links">
  									<li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
  									<li class="twitter"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
  								<!--	<li class="googleplus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li> -->
  									<li class="skype"><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
  									<li class="linkedin"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
  								<!--	<li class="youtube"><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li> -->
  								</ul>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<!-- .footer end -->

  			<!-- .subfooter start -->
  			<div class="subfooter">
  				<div class="container">
  					<div class="row">
  						<div class="col-md-12">
  							<p class="text-center">Copyright © 2016 </p>
  						</div>
  					</div>
  				</div>
  			</div>
  			<!-- .subfooter end -->

  		</footer>
  		<!-- footer end -->
        <!--
        End #footer
        ========================== -->


        <!--
        JavaScripts
        ========================== -->

        <!-- main jQuery -->
        <script src="js/vendor/jquery-1.11.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- jquery.nav -->
        <script src="js/jquery.nav.js"></script>
        <!-- Portfolio Filtering -->
        <script src="js/jquery.mixitup.min.js"></script>
        <!-- Fancybox -->
        <script src="js/jquery.fancybox.pack.js"></script>
        <!-- Parallax sections -->
        <script src="js/jquery.parallax-1.1.3.js"></script>
        <!-- jQuery Appear -->
        <script src="js/jquery.appear.js"></script>
        <!-- countTo -->
        <script src="js/jquery-countTo.js"></script>
        <!-- owl carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- WOW script -->
        <script src="js/wow.min.js"></script>
        <!-- theme custom scripts -->
        <script src="js/main.js"></script>
    </body>
</html>
